<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/donate.css" />
    <script src="https://kit.fontawesome.com/87455b06e8.js" crossorigin="anonymous"></script>
    <title>University 6Mans | Donate</title>
  </head>

  <body>
    <div class="header">
      <h1 class="text-center">University 6Mans Donate</h1>
      <!---
        <div class="login-btn">
          <a href="/api/discord/login"><i class="fab fa-discord"></i> Login</a>
        </div>
        -->
    </div>

    <div class="container">
      <div class="panel">
        <div class="panel-header">
          <h1>Please consider donating!</h1>
        </div>
        <div class="panel-body">
          <div class="explanation">
            <div class="profile-pic"><img src="https://i.imgur.com/5nPryTK.jpg"></div>
            <div class="explanation-body">
              <p>Hi, I'm Doppla and I've created this 6mans bot and site from scratch! For all of the memes and greif
                people give me I have continued support to create something unique for the RL university community!</p>
              <p>So far, I've put well over 100+ hours into learning a new language (Node.js), then creating a bot that
                the community will enjoy and want. I've not been paid, nor supported in these efforts so I would really
                appreciate it if people could spare some of their hard earned money to help support myself and the future
                developments of this bot.</p>
              <p>For your donation, you will recieve a highlighted name on the leaderboards with a donor icon next to it!
              </p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="Z68WJGK2T9GJ2" />
                <input type="image"
                  src="https://raw.githubusercontent.com/stefan-niedermann/paypal-donate-button/master/paypal-donate-button.png"
                  style="width: 200px;" border="0" name="submit" title="PayPal - The safer, easier way to pay online!"
                  alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p class="text-center">University 6Mans Bot made by Doppla, maintained by Joel</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </body>
</html>